*.vagrant\
*.log
acs/.vagrant/machines/acs/virtualbox/action_provision
acs/.vagrant/machines/acs/virtualbox/action_set_name
acs/.vagrant/machines/acs/virtualbox/creator_uid
acs/.vagrant/machines/acs/virtualbox/id
acs/.vagrant/machines/acs/virtualbox/index_uuid
acs/.vagrant/machines/acs/virtualbox/private_key
acs/.vagrant/machines/acs/virtualbox/synced_folders
acs/.vagrant/machines/acs/virtualbox/vagrant_cwd
acs/.vagrant/machines/app/virtualbox/action_provision
acs/.vagrant/machines/app/virtualbox/action_set_name
acs/.vagrant/machines/app/virtualbox/action_set_name
acs/.vagrant/machines/app/virtualbox/action_set_name
acs/.vagrant/machines/app/virtualbox/action_set_name
acs/.vagrant/machines/app/virtualbox/synced_folders
acs/.vagrant/machines/db/virtualbox/action_provision
acs/.vagrant/machines/db/virtualbox/action_set_name
acs/.vagrant/machines/db/virtualbox/creator_uid
acs/.vagrant/machines/db/virtualbox/id
acs/.vagrant/machines/db/virtualbox/index_uuid
acs/.vagrant/machines/db/virtualbox/synced_folders
*.log
*.log
